h3{color: brown;}

/*
선택자
-꾸미기할 대상을 선택하는 연산자
1. 종류
*{속성명:속성값;}
마크업명{속성명:속성값}
.클래스명 {속성명:속성값}
#아이디명 {속성명:속성값}

2. 속성명이 중복일 떄 적용 우선순위
-1순위: #아이디 2.순위 :.클래스 3순위:마크업 4순위:*
선택자가 동일한 경우는 작성순으로 아래에 있는 속셩명이 최종적용된다

[속성]
-사용가능한 속성명과 속성값은 정해져있다
-종류
1.color: 색상명  :글꼴 색상
2. font-size: 크기px  :글꼴 크기
*/

/*1. 전체 선택자*/
*{font-size: 10px;}
/*2. 마크업 선택자*/
p{color: yellow;}
/*3. calss속성값 선택자*/
.구역1번{color: orange;}
/*4.id 속성값 선택자*/
#구역2번{color: aqua;}

.제목구역{
    font-family: "궁서","굴림"; /*글꼴*/
    font-size: 20px; /*글꼴 크기*/
    font-style: italic; /*글꼴 기울기*/
    font-weight: bold; /*글꼴 진하게*/
}

.내용구역{
    color: gold; /*글꼴 색상*/
    word-spacing: 10px;/*단어들간 간격: 어간 */
    letter-spacing: 3px;/*글자들 간의 간격:자간 */
    line-height: 170%; /*줄 간격,  %단위, 기본값:150%*/

}
.글쓴이구역{
    text-align: center;/*내용물 가로 정렬,  left,right,center */
    text-decoration: underline; /*내용물 선긋기*/
    /*underline: 밑줄, overline: 윗줄 ,line-through:취소선*/
    text-shadow: 5px -5px 1px red;/*내용물 그림자*/
    /*x축, y축, 흐림정도,색상*/
}